<! DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>
<body>
<a href="/home"><h1>Home</h1></a>

{% if 'username' in session %}
<div class="welcome-msg">Welcome, {{session['username']}}!</div>
<button class="logout">	<a style="color: inherit;text-decoration: inherit" href="/logout">Logout</a></button>
{% endif %}

{% block body %}
<table class="postlist">
{% for post in posts %}
<tr class="postlist">
  <td class="postlist">{{post['Title']}}</td>
  <td class="postlist">{{post['Username']}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
</body>
</html>
